

.topnav {
	position: fixed;
	width: 100%;
	background-image:url(backh2.jpg);
	overflow: hidden;
  }
  
  .topnav a {
	  
	float: left;
	font-family: Calibri, Candara, Segoe;
	color: wheat;
	text-align: center;
	padding: 12px 14px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	background-color: black;
	color: wheat;
  }
  

body{

	background-image:url(background.jpg);
	background-size: 100% 100%;


}


.info{
	border-width: 1px;
	padding: 5px;
	margin: 20px;
	text-align: center;
	-moz-border-radius: 35px;
	border-radius: 35px;
}
p { font-family: Calibri, Candara, Segoe, "Segoe UI", 
	
	Optima, Arial, sans-serif; font-size: 18px; 
	font-style: normal; font-variant: normal; 
	font-weight: 400; line-height: 20px; 
	text-align: right;
	
}

h2 {
	font-family: Calibri, Candara, Segoe;
    width: 100%; 
    text-align: center; 
    border-bottom: 6px solid rgb(23, 20, 207);
    line-height: 0.05em;
    margin: 10px 0 20px; 
 } 


 h6{
    width: 100%; 
    text-align: right; 
 }
 
 h2 span { 
	background-image:url(backh2.jpg);
	color: wheat;
     padding:0 10px;
 }